#create_object_form {

  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;

    .card-header {
      background-color: #eff4f7;
      border-bottom: none;

      h5 button {
        font-size: 1rem;
        color: #333947;
        font-weight: 700;
        padding: 0;
        width: 100%;
        text-align: left;
      }

    }

    .collapse {
      padding-top: 15px;

      label {
        color:  #333947;
        font-size: 0.8rem;
        font-weight: 600;

        &:not(.upload-images) {
          text-align: left;
          width: 100%;
        }

      }

      .form-group.address {

        input {
          float: left;
        }

        button {
          float: right;
        }

      }

      .error-message {
        color: red;
        clear: both;
        width: 100%;
        float: left;
        font-size: 0.65rem;
      }
    }

  }

  #collapseFacilities {

    label {

      .icheckbox_minimal-blue,
      input {

        float: left;
        margin-right: 5px;
      }
    }
  }

  .image-trigger {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #64b5f6;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
  }

  .image-placeholder {
    width: 300px;
    height: 200px;
    background-color: #eeeeee !important;
    border-radius: 10px;
    position: relative;
  }

  .image-preview {
    width: 150px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: all-scroll;
  }

  .upload-images {
    color: #ffffff !important;
    background-color: #0b58a2;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .select2 {
    width: 100% !important;
  }

  .image-container {
    position: relative;
  }

  .image-container span {
    position: absolute;
    top: -14px;
    right: 3px;
    border-radius: 100%;
    padding: 5px 10px;
    background-color: #e06f6f;
    color: white;
    cursor: pointer;
  }

  .uploaded-images-placeholder {
    margin-top: 15px;
  }

  #gmaps {
    width: 100%;
    height: 50vh;
    float: left;
  }

  .not-valid {
    background-color: #ef9a9a !important;
  }
}
