// In case it's front page

.product-grid {
  margin-bottom: 50px;

  .grid-heading {
    text-transform: uppercase;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 0;
      font-weight: 700;
    }
  }

  .main-grid-heading {

    form {
      float: right;

      label {
        padding-right: 15px;
        color: #333947;
        font-size: 0.8rem;
        font-weight: 500;
      }

      select {
        font-size: 0.8rem;
        color: #91979f;
        font-weight: 500;
      }
    }
  }

  &.main-grid-wrap {
    padding-bottom: 75px !important;
    .main-grid-heading-wrap {
      padding-bottom: 2.5rem;
    }
    .main-grid-heading {
      border-bottom: 1px solid #dce1ec;
      padding-bottom: 15px;
    }
    .product-grid-wrapper.grid-of-3 .product-item-content {
      padding-bottom: 75px;
    }
  }

  &.featured-grid-wrap {

    .featured-grid-heading {
      margin-bottom: 25px;

      h2 {
        font-size: 1.2rem;
        margin-bottom: 0;
        font-weight: 700;
      }
    }
  }

  .see-all {
    position: relative;

    &:before {
      content: '';
      width: calc(100% - 2rem);
      height: 1px;
      background-color: #dce1ec;
      position: absolute;
      top: 50%;
      left: 1rem;
      z-index: 1;
    }

    a {
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #dce1ec;
      color: #333947;
      font-size: 0.8rem;
      line-height: 0.8rem;
      font-weight: 700;
      margin: 0 auto;
      padding: 1rem 3rem;
      z-index: 3;
      position: relative;

    }
  }


  .product-address{
    border-right: 1px solid lightgray;
  }

  .product-hr{
    display: block;
    width: 90%;
    margin: 15px auto 15px auto;
  }
  .price-block{
    padding: 0;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .desc-el{
    display: inline;
    color:  #333947;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 600;
    line-height: 18px;/* Approximation due to font substitution */
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  .price-block .price{
    color:  #333947;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .description-row{
    margin-left: 0;
  }
  .description{
    position: absolute;
    width: 100%;
    bottom: 15px;
  }
}

// Map styles go here
.grid-map-section {
  position: relative;

  button.view-map-button {
    position: absolute;
    z-index: 10;
    //transform: translateY(-50%);
    //top: 50%;
    top: 50px;
    right: 50px;
    color: #ffffff;
    background-color: #1f83bf;
    padding: 15px;
    text-align: center;
    border: none;
    font-size: 0.8rem;
    font-weight: 700;

    svg {
      font-size: 16px;
    }
  }

  #gmaps {
    transition-delay: .1s;
    transition-duration: 0.3s;

    .map-info-card {
      width: 240px;
      max-width: 100vw;

      &.product-item-card-wrapper {
        margin-bottom: 0;
      }

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

@import "variables";

@import "blocks/product_card";
@import "pages/product_grid";
