//Get variables
@import "variables";

//General Styles
* {
  font-family: 'Montserrat', 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #1f83bf;
}

input,
input:focus {
  outline: none;
}

.nogut {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.clear-elem {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.main-content {
  background-color: #eff4f7;
}

select.form-control,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/arrow_down.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 10px;
  background-color: transparent;
  padding-right: 50px;
}

.gray-separator {
  border: none;
  height: 1px;
  background: #dce1ec;
  margin: 20px auto;
  width: 100%;
}

.gray-box {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color:  #e1e8ed;
  padding-top: 15px;
  padding-bottom: 15px;
}

// add item button
a.add-item-btn {
  padding: .5rem .75rem;
  line-height: 1.5rem;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.add-item-btn {
  font-weight: 700;
  background: #1f83bf;
  color: #fff;
  font-size: 0.8rem;
  height: 2.5rem;

  svg,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    font-size: 1rem;
    border: 1.5px solid #ffffff;
    border-radius: 50%;
    padding: 1.5px;
  }

}

.screenHeight {
  height: 100vh !important;
}

// Popup style
.modal {

  .modal-header {
    align-items: center;

    button.close {
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 1;
      width: 30px;
      height: 30px;
      line-height: 0;
      z-index: 25;
      background: rgb(255, 255, 255);
      border-radius: 50%;
      padding: 5px;

      span {
        width: 20px;
        height: 20px;
        line-height: 15px;
        display: block;
        color: rgb(33, 37, 41);
        border-width: 3px;
        border-style: solid;
        border-color: rgb(33, 37, 41);
        border-image: initial;
        border-radius: 50%;
      }
    }
  }

  .auth-utilities {

    .checkbox,
    .forgot-password {
      display: inline-block;

      @media screen and (min-width: $size-min-md) {
        width: 49%;
      }
    }
  }

  button.btn-primary {
    width: 100%;
  }
}

// Sticky sidebar style
.sticky-sidebar-right {
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 15;

  .sticky-sidebar-right-item {
    overflow: hidden;
    margin-bottom: 5px;
    float: right;
    clear: both;

    .sticky-sidebar-right-heading {
      height: 45px;
      width: 45px;
      background-color: #ffffff;
      padding: 5px;
      border: 1px solid #e1e8ed;
      border-right: none;
      float: left;
    }

    .sticky-sidebar-right-content-wrapper {
      width: 0px;
      float: left;
      overflow: hidden;
      transition-duration: 0.3s;

      &.open {
        width: 180px !important;
      }

      .sticky-sidebar-right-content {
        width: 180px;
        border: 1px solid #e1e8ed;
        background-color: #ffffff;
        padding: 10px;
        min-height: 45px;
      }
    }
  }
}

// Import all blocks
@import "blocks/header";
@import "blocks/footer";
@import "blocks/header-map";
@import "blocks/info_blocks";
@import "blocks/useful_links";

// Import single product page
@import "pages/product_single";

//Import info page
@import "pages/info";

// Import slick scss
@import "modules/slick-theme";

