// minimal screen sizes
$size-min-sm: 576px;
$size-min-md: 768px;
$size-min-lg: 992px;
$size-min-xl: 1200px;

// maximal screen sizes
$size-max-xs: 575px;
$size-max-sm: 767px;
$size-max-md: 991px;
$size-max-lg: 1199px;