<select>
<option value="12900">Chișinău mun.</option>
<option value="12912">mun.Balti</option>
<option value="12885">Tiraspol mun.</option>
<option value="12908">Cahul</option>
<option value="12905">Anenii Noi</option>
<option value="12901">Basarabeasca</option>
<option value="12882">Bender mun.</option>
<option value="12898">Briceni</option>
<option value="12874">Camenca</option>
<option value="12890">Cantemir</option>
<option value="12871">Ciadir-Lunga</option>
<option value="12889">Cimișlia</option>
<option value="12875">Comrat</option>
<option value="12888">Criuleni</option>
<option value="12907">Călărași</option>
<option value="12903">Căușeni</option>
<option value="17475">Dnestrovsk</option>
<option value="12896">Dondușeni</option>
<option value="12893">Drochia</option>
<option value="12879">Dubăsari</option>
<option value="12895">Edineț</option>
<option value="12911">Florești</option>
<option value="12887">Fălești</option>
<option value="12904">Glodeni</option>
<option value="12873">Grigoriopol</option>
<option value="12876">Hîncești</option>
<option value="12886">Ialoveni</option>
<option value="12881">Leova</option>
<option value="12877">Nisporeni</option>
<option value="12902">Ocnița</option>
<option value="12909">Orhei</option>
<option value="12891">Rezina</option>
<option value="12883">Rîbnița</option>
<option value="12897">Rîșcani</option>
<option value="12884">Slobozia</option>
<option value="12899">Soroca</option>
<option value="12910">Strășeni</option>
<option value="12906">Sîngerei</option>
<option value="12894">Taraclia</option>
<option value="12892">Telenești</option>
<option value="12870">Ungheni</option>
<option value="12878">Vulcănești</option>
<option value="12880">Șoldănești</option>
<option value="12872">Ștefan-Vodă</option>  
</select>