footer {
  background: #333947;
  margin-top: 15px;
  padding: 30px 0px;

  .footer-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;

    .navbar-brand {
      color: #ffffff;
      padding: 0;
      font-size: 1rem;
    }

    h5 {
      color: #ffffff;
      margin-bottom: 25px;
    }

    a {
      color: rgba(255, 255, 255, 0.5);
    }

    h5,
    a {
      font-size: 0.8rem;
      text-transform: uppercase;

      &:hover {
        color: #fafafa;
      }
    }

    .footer-contacts {

      .socials {
      margin-bottom: 10px;
        a {
          margin-right: 10px;

          &:hover {
            text-decoration: none;
          }
          svg {
            font-size: 16px;
          }
        }
      }


      .copyright {
        margin: 0;
        font-size: 0.6rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);

      }
    }

    .sitemap {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;

      a {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }

    .mail-subscription {

      position: relative;
      width: 250px;
      max-width: 100%;

      input {
        width: 100%;
        height: 45px;
        background-color: #484d5a;
        border: none;
        border-radius: 4px;
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 10px;
        background-color: #ebbd1c;
        border: none;
        border-radius: 0 4px 4px 0;

        svg {
          color: #ffffff;
          font-size: 17px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
