.home_page-map-wrapper {
  position: relative;
  @media only screen and (max-width: $size-max-sm) {
    margin-bottom: 10px;
  }

  .home_page-map {
    position: relative;
    @media only screen and (max-width: $size-max-sm) {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 9;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba( 0, 0, 0, 0.2 );
    }
  }

  .filter-section-wrapper {
    position: relative;
    min-height: 10px;

    .filter-mobile-toggle {
      text-align: center;
      padding: 10px;

      svg {
        transition-duration: .3s;
      }

      .open svg {
        transform: rotate(180deg);
      }
    }

    .filter-section {
      display: block;
      transform: translateY(-50%);
      background-color: #ffffff;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem 1.5rem 1rem 1.5rem;
      border: 1px solid #cdd3e0;
      border-radius: 4px;
      box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.15);

      @media only screen and (max-width: $size-max-sm) {
        transform: none;
        position: relative;
        //display: none;
        top:60px;
      }

      .btn-mapSearch {

        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-100%);
        color: #ffffff;
        background-color: #ebbd1c;
        border-radius: 4px 4px 0 0;

      }

      select,
      input {

        border: 1px solid #b5c2ca;
        border-radius: 4px;
        height: 45px;
        font-size: 0.8rem;
        color: #333947;
      }

      label {

        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      button[type="submit"] {

        width: 100%;
        height: 45px;

        @media only screen and (max-width: $size-max-sm) {
          margin-top: 20px;
        }
      }

      .extended-search {

        float: right;
        color: #1f83bf;
        font-size: 0.8rem;
        font-style: italic;
      }

    }
  }
}

.main-content {

  &.container-fluid {
    padding-top: 150px;

    @media only screen and (max-width: $size-max-sm) {
      padding-top: 60px;
    }
  }
}