header {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);

  .top-bar {
    background-color: #333947;
    height: 2.5rem;

    .container {
      text-decoration: none;
      font-weight: 700;
      font-size: 0.8rem;

      .active {
        color: #ffffff;
      }

      div {
        height: 100%;

        &:not(.search-bar) {
          padding: 0.5rem 0;
        }

        svg {
          color: #a7a8ad;
        }

        &.contacts {
          @media only screen and (max-width: $size-max-sm) {
            margin: 0 auto;
            text-align: center;
          }
          a {
            padding-right: 30px;
            line-height: 1.5rem;

            &:hover {
              text-decoration: none;
            }

            span {
              padding-left: 10px;
              color: #ffffff;
              opacity: 0.7;
            }

          }

        }

        &.socials {
          border-left: 1px solid #474c5a;
          border-right: 1px solid #474c5a;
          font-size: 16px;
          padding-left: 10px;
          padding-right: 10px;

          a {
            padding: 0 10px;
          }
        }

        &.langs {
          padding-right: 30px;
          line-height: 1.5rem;
          color: #a7a8ad;

          span {
            padding: 0 10px;
          }

          a {
            color: #ffffff;
            opacity: 0.7;

            &.active,
            &:hover {
              opacity: 1;
            }
          }

        }

        &.search-bar {
          position: relative;
          color: #adafb3;

          input {
            background: #232833;
            height: 2.5rem;
            border: none;
            border-right: 1px solid #474c5a;
            padding: 0.5rem;
            color: #ffffff;
          }

          button {
            position: absolute;
            top: 0;
            right: 0.5rem;
            height: 100%;
          }
        }

      }

    }

  }

  .navbar {

    .menu {

      a.nav-link {
        font-weight: 700;
        font-size: 0.8rem;
        color: #333947;

      }

      .add-item-btn {
        margin-left: 50px;
      }

    }
  }
}