.info-blocks-wrap {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;

  .info-blocks-inner {
    @media only screen and (max-width: $size-max-sm) {
      margin: 0 0;
    }

    .info-block-item-card-wrapper {
      margin: 20px auto;
      @media only screen and (max-width: $size-max-sm) {
        //padding: 10px;
      }

      .info-block-item-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        border: 1px solid #e1e8ed;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 25px;
        height: 100%;

        &.info-item-fw {
          flex-direction: row;

          @media screen and (max-width: $size-max-sm) {
            text-align: center;
            flex-direction: column;
          }

          > div {
            @media screen and (min-width: $size-min-md) {
              max-width: 70%;

              .info-block-item-content {
                width: calc(100% - 60px);
              }

            }


            .info-block-item-header,
            .info-block-item-content {
              display: inline-block;
              vertical-align: middle;
            }
            .info-block-item-header {

              svg {
                color: #2e1ec1;
                margin-right: 10px;
                font-size: 39px;
              }
            }

            }

          .info-block-item-footer {
            button {

              svg.map-marker {
                border: none;
                font-size: 18px;
              }
            }

          }

        }

        .info-block-item-header {
          padding-bottom: 20px;

          h5 {
            text-transform: uppercase;
            color: #333947;
            font-size: 1.2rem;
            font-weight: 700;

            svg {
              text-transform: none;
              margin-right: 15px;
              font-size: 23px;

              &.reviews {
                color: #ebbd1c;
              }

              &.prod-post {
                color: #1f83bf;
              }

              &.rent-list {
                color: #4fc019;
              }
            }

          }

        }

        .info-block-item-content {
          font-size: 0.8rem;
          color: #333947;
          font-weight: 500;

          //  The review case
          .review-content {

            .review-bracket {
              font-weight: 600;
            }
          }

          //  The apartment type list
          ul.rent-list {
            list-style-image: url("../../img/list-arrow.png");

            li {
              font-weight: 700;
              line-height: 1.4rem;

              a {
                color: #1f83bf;
              }

            }

          }

        }

        .info-block-item-footer {
          margin-top: 25px;

          .review-author {
            font-weight: 700;
          }

          .review-read-all {
            float: right;

            a {
              color: #1f83bf;
              font-size: 0.8rem;
              font-style: italic;
            }
          }

        }

      }

    }

  }

}

