.product-item-card-wrapper {
  margin-bottom: 25px;

  .product-item-card {
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.15);
    }

    .product-item-header {
      border-radius: 4px;
      position: relative;

      img {
        border-radius: 0;
        width: 100%;
      }

      .price {
        position: absolute;
        left: 0;
        bottom: 0;
        padding:15px 25px;
        background-color: #333947;
        color: #ffffff;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 600;
      }
    }

    .product-item-content {
      background-color: #ffffff;
      padding-bottom: 25px;
      padding-top: 25px;
      flex-wrap: wrap;
      border-radius: 6px;

      @media only screen and (max-width: $size-min-lg) {
        text-align: center;
      }

      h5 {
        color: #333947;
        margin: 0;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1rem;
        text-align: left;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1rem;
        text-align: left;
      }

      .product-type {
        text-align: center;
        border-left: 1px solid #e2ebf0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;

        span {
          padding-left: 10px;
          font-size: 0.8rem;
          font-weight: 600;

        }

        svg {
          font-size: 15px;
        }

        @media only screen and (max-width: $size-max-sm) {
          margin-top: 5px;
        }
      }
    }

    .last-item-overlay {

      a {
        padding: 45px;
        border-radius: 4px;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;

        svg {
          font-size: 22px;
        }
      }

      img, a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

      }

      &.yellow {
        a {
          background-color: rgba(235, 189, 28, 0.9);;
        }
      }

      &.blue {
        a {
          background-color: rgba(31, 131, 191, 0.9);
        }
      }


    }
  }

}

.product-grid-wrapper {

  &.grid-of-4 {

    .product-item-card {

      .product-item-header {

        .price {

          padding:10px 15px;
          font-size: 0.8rem;
          line-height: 0.8rem;
        }
      }

      .product-item-content {

        h5 {
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 0.9rem;
        }

        p {
          font-size: 0.8rem;
          font-weight: 500;
          line-height: 0.9rem;
        }
      }
    }
  }
}