.useful-block-wrap {
  padding: 30px 0;

  .grid-heading h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 15px 0;
  }

  .useful-block-grid-item-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #e1e8ed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    a {

      &:hover {
        text-decoration: none;
      }

      * {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }

      h5 {
        font-size: 1rem;
        font-weight: 700;
        padding-left: 15px;
      }

      svg {
        font-size: 15px;
      }
    }
  }
}
