#create_object_form .card {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none; }
  #create_object_form .card .card-header {
    background-color: #eff4f7;
    border-bottom: none; }
    #create_object_form .card .card-header h5 button {
      font-size: 1rem;
      color: #333947;
      font-weight: 700;
      padding: 0;
      width: 100%;
      text-align: left; }
  #create_object_form .card .collapse {
    padding-top: 15px; }
    #create_object_form .card .collapse label {
      color: #333947;
      font-size: 0.8rem;
      font-weight: 600; }
      #create_object_form .card .collapse label:not(.upload-images) {
        text-align: left;
        width: 100%; }
    #create_object_form .card .collapse .form-group.address input {
      float: left; }
    #create_object_form .card .collapse .form-group.address button {
      float: right; }
    #create_object_form .card .collapse .error-message {
      color: red;
      clear: both;
      width: 100%;
      float: left;
      font-size: 0.65rem; }

#create_object_form #collapseFacilities label .icheckbox_minimal-blue,
#create_object_form #collapseFacilities label input {
  float: left;
  margin-right: 5px; }

#create_object_form .image-trigger {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #64b5f6;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer; }

#create_object_form .image-placeholder {
  width: 300px;
  height: 200px;
  background-color: #eeeeee !important;
  border-radius: 10px;
  position: relative; }

#create_object_form .image-preview {
  width: 150px;
  height: 100px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: all-scroll; }

#create_object_form .upload-images {
  color: #ffffff !important;
  background-color: #0b58a2;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px; }

#create_object_form .select2 {
  width: 100% !important; }

#create_object_form .image-container {
  position: relative; }

#create_object_form .image-container span {
  position: absolute;
  top: -14px;
  right: 3px;
  border-radius: 100%;
  padding: 5px 10px;
  background-color: #e06f6f;
  color: white;
  cursor: pointer; }

#create_object_form .uploaded-images-placeholder {
  margin-top: 15px; }

#create_object_form #gmaps {
  width: 100%;
  height: 50vh;
  float: left; }

#create_object_form .not-valid {
  background-color: #ef9a9a !important; }
