form .image-trigger {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #64b5f6;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
}

form .image-placeholder {
    width: 300px;
    height: 200px;
    background-color: #eeeeee !important;
    border-radius: 10px;
    position: relative;
}

form .image-preview {
    width: 150px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: all-scroll;
}

form .upload-images {
    color: #ffffff !important;
    background-color: #0b58a2;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form .select2 {
    width: 100% !important;
}

form .image-container {
    position: relative;
}

form .image-container span {
    position: absolute;
    top: -14px;
    right: 3px;
    border-radius: 100%;
    padding: 5px 10px;
    background-color: #e06f6f;
    color: white;
    cursor: pointer;
}

form .uploaded-images-placeholder {
    margin-top: 15px;
}

form #gmaps {
    width: 100%;
    height: 50vh;
    float: left;
}

.not-valid {
    background-color: #ef9a9a !important;
}