.comments .route-top {
  font-size: 11px !important;
  font-weight: 500;
  text-align: left;
  margin-top: 28px; }

.comments .fa-plus {
  font-size: 1rem;
  border: 1.5px solid #333947;
  border-radius: 50%;
  padding: 3.5px;
  width: 20px;
  height: 20px;
  margin-bottom: -2px;
  margin-right: 5px; }

.comments .top-row {
  margin-top: 39px; }

.comments .add-btn {
  color: #333947;
  float: right;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 700;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #dce1ec;
  box-sizing: border-box;
  background-color: #f2f6fa;
  width: 216px;
  height: 47px;
  text-align: center; }

.comments .card-footer {
  background-color: rgba(242, 246, 250, 0.9); }

.comments .comments hr {
  margin-bottom: 41px; }

.testimonials-row .card {
  margin-bottom: 40px;
  cursor: pointer; }
  .testimonials-row .card .card-body {
    height: 140px;
    color: #333947;
    font-size: 14px;
    /* Approximation due to font substitution */
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    /* Approximation due to font substitution */
    text-align: left; }
  .testimonials-row .card .card-footer {
    height: 70px; }
    .testimonials-row .card .card-footer .footer-tail {
      position: absolute;
      top: 196px;
      left: 400px;
      height: 30px;
      width: 30px;
      background: rgba(242, 246, 250, 0.9);
      transform: rotate(45deg);
      border-right: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
      @media screen and (max-width: 1200px) {
        .testimonials-row .card .card-footer .footer-tail {
          left: 330px; } }
      @media screen and (max-width: 991px) {
        .testimonials-row .card .card-footer .footer-tail {
          left: 235px; } }
    .testimonials-row .card .card-footer .name-section {
      color: #333947;
      font-size: 13px;
      /* Approximation due to font substitution */
      font-weight: 700;
      line-height: 24px;
      /* Approximation due to font substitution */
      text-align: left;
      margin-top: 10px; }
    .testimonials-row .card .card-footer .card-rating {
      float: right;
      margin-top: 10px; }
      .testimonials-row .card .card-footer .card-rating img {
        display: inline-block;
        width: 18px; }

.testimonials-row .pagination .page-item:first-child .page-link,
.testimonials-row .pagination .page-item:last-child .page-link {
  border-radius: 50%;
  background-color: #e1e8ed;
  width: 30px;
  height: 30px; }

.testimonials-row .pagination .page-item:nth-child(2) .page-link {
  padding-left: 12px; }

.testimonials-row .pagination .page-item:last-child .page-link {
  padding-left: 13px; }

.testimonials-row .pagination .disabled .page-link {
  display: none; }

.testimonials-row .pagination .page-link {
  padding: 12px;
  padding-left: 11px;
  margin: 2px;
  border: none;
  color: #91979f;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 700;
  text-align: left;
  line-height: 7px; }

.testimonials-row .pagination .active .page-link {
  border-radius: 50%;
  background-color: #1f83bf !important;
  width: 30px;
  height: 30px;
  color: #ffffff; }

.testimonials-row .pagination .page-link:hover {
  background-color: #fff; }

@media screen and (max-width: 768px) {
  .testimonials-row .testimonials-row .card .card-body {
    height: 250px; }
  .testimonials-row .testimonials-row .card .card-footer {
    height: 100px; }
  .testimonials-row .testimonials-row .card .card-footer .footer-tail {
    top: 336px;
    left: 165px; }
  .testimonials-row .testimonials-row .name-section, .testimonials-row .testimonials-row .card-rating {
    float: none !important;
    margin: auto;
    text-align: center !important; } }

@media screen and (max-width: 576px) {
  .testimonials-row .testimonials-row .card .card-footer .footer-tail {
    display: none; }
  .testimonials-row .testimonials-row .card .card-body {
    height: 100%; } }

/* Form */
.rating {
  margin: auto;
  width: 150px;
  height: 30px; }
  .rating span {
    float: right;
    position: relative; }
    .rating span input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
    .rating span label {
      display: inline-block;
      background-color: #bdc3c7;
      -webkit-mask: url("/images/star_gray.svg") no-repeat 50% 50%;
      mask: url("/images/star_gray.svg") no-repeat 50% 50%;
      width: 30px;
      height: 30px;
      text-align: center; }
  .rating span:hover ~ span label,
  .rating span:hover label,
  .rating span.checked label,
  .rating span.checked ~ span label {
    background: #F90;
    color: #FFF; }
