.product-grid {
  margin-bottom: 50px; }
  .product-grid .grid-heading {
    text-transform: uppercase; }
    .product-grid .grid-heading h2 {
      font-size: 1.2rem;
      margin-bottom: 0;
      font-weight: 700; }
  .product-grid .main-grid-heading form {
    float: right; }
    .product-grid .main-grid-heading form label {
      padding-right: 15px;
      color: #333947;
      font-size: 0.8rem;
      font-weight: 500; }
    .product-grid .main-grid-heading form select {
      font-size: 0.8rem;
      color: #91979f;
      font-weight: 500; }
  .product-grid.main-grid-wrap {
    padding-bottom: 75px !important; }
    .product-grid.main-grid-wrap .main-grid-heading-wrap {
      padding-bottom: 2.5rem; }
    .product-grid.main-grid-wrap .main-grid-heading {
      border-bottom: 1px solid #dce1ec;
      padding-bottom: 15px; }
    .product-grid.main-grid-wrap .product-grid-wrapper.grid-of-3 .product-item-content {
      padding-bottom: 75px; }
  .product-grid.featured-grid-wrap .featured-grid-heading {
    margin-bottom: 25px; }
    .product-grid.featured-grid-wrap .featured-grid-heading h2 {
      font-size: 1.2rem;
      margin-bottom: 0;
      font-weight: 700; }
  .product-grid .see-all {
    position: relative; }
    .product-grid .see-all:before {
      content: '';
      width: calc(100% - 2rem);
      height: 1px;
      background-color: #dce1ec;
      position: absolute;
      top: 50%;
      left: 1rem;
      z-index: 1; }
    .product-grid .see-all a {
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #dce1ec;
      color: #333947;
      font-size: 0.8rem;
      line-height: 0.8rem;
      font-weight: 700;
      margin: 0 auto;
      padding: 1rem 3rem;
      z-index: 3;
      position: relative; }
  .product-grid .product-address {
    border-right: 1px solid lightgray; }
  .product-grid .product-hr {
    display: block;
    width: 90%;
    margin: 15px auto 15px auto; }
  .product-grid .price-block {
    padding: 0;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center; }
  .product-grid .desc-el {
    display: inline;
    color: #333947;
    font-size: 12px;
    /* Approximation due to font substitution */
    font-weight: 600;
    line-height: 18px;
    /* Approximation due to font substitution */
    padding-left: 5px;
    padding-right: 5px;
    text-align: center; }
  .product-grid .price-block .price {
    color: #333947;
    font-size: 16px;
    font-weight: 700;
    text-align: center; }
  .product-grid .description-row {
    margin-left: 0; }
  .product-grid .description {
    position: absolute;
    width: 100%;
    bottom: 15px; }

.grid-map-section {
  position: relative; }
  .grid-map-section button.view-map-button {
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 50px;
    color: #ffffff;
    background-color: #1f83bf;
    padding: 15px;
    text-align: center;
    border: none;
    font-size: 0.8rem;
    font-weight: 700; }
    .grid-map-section button.view-map-button svg {
      font-size: 16px; }
  .grid-map-section #gmaps {
    transition-delay: .1s;
    transition-duration: 0.3s; }
    .grid-map-section #gmaps .map-info-card {
      width: 240px;
      max-width: 100vw; }
      .grid-map-section #gmaps .map-info-card.product-item-card-wrapper {
        margin-bottom: 0; }
      .grid-map-section #gmaps .map-info-card img {
        height: auto;
        width: 100%; }

.product-item-card-wrapper {
  margin-bottom: 25px; }
  .product-item-card-wrapper .product-item-card {
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .product-item-card-wrapper .product-item-card:hover {
      box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.15); }
    .product-item-card-wrapper .product-item-card .product-item-header {
      border-radius: 4px;
      position: relative; }
      .product-item-card-wrapper .product-item-card .product-item-header img {
        border-radius: 0;
        width: 100%; }
      .product-item-card-wrapper .product-item-card .product-item-header .price {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 15px 25px;
        background-color: #333947;
        color: #ffffff;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 600; }
    .product-item-card-wrapper .product-item-card .product-item-content {
      background-color: #ffffff;
      padding-bottom: 25px;
      padding-top: 25px;
      flex-wrap: wrap;
      border-radius: 6px; }
      @media only screen and (max-width: 992px) {
        .product-item-card-wrapper .product-item-card .product-item-content {
          text-align: center; } }
      .product-item-card-wrapper .product-item-card .product-item-content h5 {
        color: #333947;
        margin: 0;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1rem;
        text-align: left; }
      .product-item-card-wrapper .product-item-card .product-item-content p {
        margin: 0;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1rem;
        text-align: left; }
      .product-item-card-wrapper .product-item-card .product-item-content .product-type {
        text-align: center;
        border-left: 1px solid #e2ebf0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0; }
        .product-item-card-wrapper .product-item-card .product-item-content .product-type span {
          padding-left: 10px;
          font-size: 0.8rem;
          font-weight: 600; }
        .product-item-card-wrapper .product-item-card .product-item-content .product-type svg {
          font-size: 15px; }
        @media only screen and (max-width: 767px) {
          .product-item-card-wrapper .product-item-card .product-item-content .product-type {
            margin-top: 5px; } }
    .product-item-card-wrapper .product-item-card .last-item-overlay a {
      padding: 45px;
      border-radius: 4px;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around; }
      .product-item-card-wrapper .product-item-card .last-item-overlay a svg {
        font-size: 22px; }
    .product-item-card-wrapper .product-item-card .last-item-overlay img, .product-item-card-wrapper .product-item-card .last-item-overlay a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    .product-item-card-wrapper .product-item-card .last-item-overlay.yellow a {
      background-color: rgba(235, 189, 28, 0.9); }
    .product-item-card-wrapper .product-item-card .last-item-overlay.blue a {
      background-color: rgba(31, 131, 191, 0.9); }

.product-grid-wrapper.grid-of-4 .product-item-card .product-item-header .price {
  padding: 10px 15px;
  font-size: 0.8rem;
  line-height: 0.8rem; }

.product-grid-wrapper.grid-of-4 .product-item-card .product-item-content h5 {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 0.9rem; }

.product-grid-wrapper.grid-of-4 .product-item-card .product-item-content p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.9rem; }

#cities {
  max-height: 300px;
  overflow-y: scroll; }

.top-offset {
  margin-top: 20px; }

.bg-blue {
  background: #1f83bf; }

.ui-state-active {
  background: #1f83bf !important; }

.pagination {
  margin: 0 auto; }

.grid-page-wrapper .product-grid-wrapper {
  position: relative; }
  @media screen and (min-width: 992px) {
    .grid-page-wrapper .product-grid-wrapper {
      flex-direction: row-reverse; } }
  .grid-page-wrapper .product-grid-wrapper .filter-section {
    width: 100%;
    margin-bottom: 30px; }
    @media screen and (max-width: 991px) {
      .grid-page-wrapper .product-grid-wrapper .filter-section {
        padding: 2rem 1.5rem 1rem 1.5rem;
        border: 1px solid #cdd3e0;
        border-radius: 4px;
        background-color: white;
        display: none; } }
  .grid-page-wrapper .product-grid-wrapper .filter-mobile-toggle {
    margin: 25px auto;
    text-align: center; }
  .grid-page-wrapper .product-grid-wrapper .pagination {
    flex-wrap: wrap; }

.grid-page-wrapper .grid-filter-section .card {
  border: 1px solid #e1e8ed;
  box-shadow: none;
  border-radius: 4px; }
  .grid-page-wrapper .grid-filter-section .card .card-header {
    border-bottom: none;
    background-color: transparent;
    color: #333947;
    padding: 0; }
    .grid-page-wrapper .grid-filter-section .card .card-header h5 {
      vertical-align: middle; }
      .grid-page-wrapper .grid-filter-section .card .card-header h5 a {
        width: 100%;
        text-align: left;
        padding: 20px;
        line-height: 1;
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase; }
        .grid-page-wrapper .grid-filter-section .card .card-header h5 a:after {
          content: '+';
          line-height: 50%;
          font-size: 28px;
          vertical-align: middle;
          float: right; }
  .grid-page-wrapper .grid-filter-section .card .card-body * {
    font-size: 0.8rem;
    line-height: 200%;
    color: #333947;
    font-weight: 500;
    margin-bottom: 0; }
