@charset "UTF-8";
* {
  font-family: 'Montserrat', 'Lato', sans-serif; }

img {
  max-width: 100%; }

a {
  color: #1f83bf; }

input,
input:focus {
  outline: none; }

.nogut {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.clear-elem {
  background-color: transparent;
  border: none;
  box-shadow: none; }

.main-content {
  background-color: #eff4f7; }

select.form-control,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/arrow_down.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 10px;
  background-color: transparent;
  padding-right: 50px; }

.gray-separator {
  border: none;
  height: 1px;
  background: #dce1ec;
  margin: 20px auto;
  width: 100%; }

.gray-box {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e8ed;
  padding-top: 15px;
  padding-bottom: 15px; }

a.add-item-btn {
  padding: .5rem .75rem;
  line-height: 1.5rem; }
  a.add-item-btn:hover, a.add-item-btn:focus {
    color: #ffffff; }

.add-item-btn {
  font-weight: 700;
  background: #1f83bf;
  color: #fff;
  font-size: 0.8rem;
  height: 2.5rem; }
  .add-item-btn svg,
  .add-item-btn span {
    display: inline-block;
    vertical-align: middle; }
  .add-item-btn svg {
    font-size: 1rem;
    border: 1.5px solid #ffffff;
    border-radius: 50%;
    padding: 1.5px; }

.screenHeight {
  height: 100vh !important; }

.modal .modal-header {
  align-items: center; }
  .modal .modal-header button.close {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 1;
    width: 30px;
    height: 30px;
    line-height: 0;
    z-index: 25;
    background: white;
    border-radius: 50%;
    padding: 5px; }
    .modal .modal-header button.close span {
      width: 20px;
      height: 20px;
      line-height: 15px;
      display: block;
      color: #212529;
      border-width: 3px;
      border-style: solid;
      border-color: #212529;
      border-image: initial;
      border-radius: 50%; }

.modal .auth-utilities .checkbox,
.modal .auth-utilities .forgot-password {
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .modal .auth-utilities .checkbox,
    .modal .auth-utilities .forgot-password {
      width: 49%; } }

.modal button.btn-primary {
  width: 100%; }

.sticky-sidebar-right {
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 15; }
  .sticky-sidebar-right .sticky-sidebar-right-item {
    overflow: hidden;
    margin-bottom: 5px;
    float: right;
    clear: both; }
    .sticky-sidebar-right .sticky-sidebar-right-item .sticky-sidebar-right-heading {
      height: 45px;
      width: 45px;
      background-color: #ffffff;
      padding: 5px;
      border: 1px solid #e1e8ed;
      border-right: none;
      float: left; }
    .sticky-sidebar-right .sticky-sidebar-right-item .sticky-sidebar-right-content-wrapper {
      width: 0px;
      float: left;
      overflow: hidden;
      transition-duration: 0.3s; }
      .sticky-sidebar-right .sticky-sidebar-right-item .sticky-sidebar-right-content-wrapper.open {
        width: 180px !important; }
      .sticky-sidebar-right .sticky-sidebar-right-item .sticky-sidebar-right-content-wrapper .sticky-sidebar-right-content {
        width: 180px;
        border: 1px solid #e1e8ed;
        background-color: #ffffff;
        padding: 10px;
        min-height: 45px; }

header {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1); }
  header .top-bar {
    background-color: #333947;
    height: 2.5rem; }
    header .top-bar .container {
      text-decoration: none;
      font-weight: 700;
      font-size: 0.8rem; }
      header .top-bar .container .active {
        color: #ffffff; }
      header .top-bar .container div {
        height: 100%; }
        header .top-bar .container div:not(.search-bar) {
          padding: 0.5rem 0; }
        header .top-bar .container div svg {
          color: #a7a8ad; }
        @media only screen and (max-width: 767px) {
          header .top-bar .container div.contacts {
            margin: 0 auto;
            text-align: center; } }
        header .top-bar .container div.contacts a {
          padding-right: 30px;
          line-height: 1.5rem; }
          header .top-bar .container div.contacts a:hover {
            text-decoration: none; }
          header .top-bar .container div.contacts a span {
            padding-left: 10px;
            color: #ffffff;
            opacity: 0.7; }
        header .top-bar .container div.socials {
          border-left: 1px solid #474c5a;
          border-right: 1px solid #474c5a;
          font-size: 16px;
          padding-left: 10px;
          padding-right: 10px; }
          header .top-bar .container div.socials a {
            padding: 0 10px; }
        header .top-bar .container div.langs {
          padding-right: 30px;
          line-height: 1.5rem;
          color: #a7a8ad; }
          header .top-bar .container div.langs span {
            padding: 0 10px; }
          header .top-bar .container div.langs a {
            color: #ffffff;
            opacity: 0.7; }
            header .top-bar .container div.langs a.active, header .top-bar .container div.langs a:hover {
              opacity: 1; }
        header .top-bar .container div.search-bar {
          position: relative;
          color: #adafb3; }
          header .top-bar .container div.search-bar input {
            background: #232833;
            height: 2.5rem;
            border: none;
            border-right: 1px solid #474c5a;
            padding: 0.5rem;
            color: #ffffff; }
          header .top-bar .container div.search-bar button {
            position: absolute;
            top: 0;
            right: 0.5rem;
            height: 100%; }
  header .navbar .menu a.nav-link {
    font-weight: 700;
    font-size: 0.8rem;
    color: #333947; }
  header .navbar .menu .add-item-btn {
    margin-left: 50px; }

footer {
  background: #333947;
  margin-top: 15px;
  padding: 30px 0px; }
  footer .footer-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px; }
    footer .footer-column .navbar-brand {
      color: #ffffff;
      padding: 0;
      font-size: 1rem; }
    footer .footer-column h5 {
      color: #ffffff;
      margin-bottom: 25px; }
    footer .footer-column a {
      color: rgba(255, 255, 255, 0.5); }
    footer .footer-column h5,
    footer .footer-column a {
      font-size: 0.8rem;
      text-transform: uppercase; }
      footer .footer-column h5:hover,
      footer .footer-column a:hover {
        color: #fafafa; }
    footer .footer-column .footer-contacts .socials {
      margin-bottom: 10px; }
      footer .footer-column .footer-contacts .socials a {
        margin-right: 10px; }
        footer .footer-column .footer-contacts .socials a:hover {
          text-decoration: none; }
        footer .footer-column .footer-contacts .socials a svg {
          font-size: 16px; }
    footer .footer-column .footer-contacts .copyright {
      margin: 0;
      font-size: 0.6rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5); }
    footer .footer-column .sitemap {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; }
      footer .footer-column .sitemap a {
        font-size: 0.8rem;
        font-weight: 400; }
    footer .footer-column .mail-subscription {
      position: relative;
      width: 250px;
      max-width: 100%; }
      footer .footer-column .mail-subscription input {
        width: 100%;
        height: 45px;
        background-color: #484d5a;
        border: none;
        border-radius: 4px; }
      footer .footer-column .mail-subscription button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 10px;
        background-color: #ebbd1c;
        border: none;
        border-radius: 0 4px 4px 0; }
        footer .footer-column .mail-subscription button svg {
          color: #ffffff;
          font-size: 17px;
          display: inline-block;
          vertical-align: middle; }

.home_page-map-wrapper {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .home_page-map-wrapper {
      margin-bottom: 10px; } }
  .home_page-map-wrapper .home_page-map {
    position: relative; }
    @media only screen and (max-width: 767px) {
      .home_page-map-wrapper .home_page-map {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%; } }
    .home_page-map-wrapper .home_page-map:before {
      content: '';
      position: absolute;
      z-index: 9;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2); }
  .home_page-map-wrapper .filter-section-wrapper {
    position: relative;
    min-height: 10px; }
    .home_page-map-wrapper .filter-section-wrapper .filter-mobile-toggle {
      text-align: center;
      padding: 10px; }
      .home_page-map-wrapper .filter-section-wrapper .filter-mobile-toggle svg {
        transition-duration: .3s; }
      .home_page-map-wrapper .filter-section-wrapper .filter-mobile-toggle .open svg {
        transform: rotate(180deg); }
    .home_page-map-wrapper .filter-section-wrapper .filter-section {
      display: block;
      transform: translateY(-50%);
      background-color: #ffffff;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem 1.5rem 1rem 1.5rem;
      border: 1px solid #cdd3e0;
      border-radius: 4px;
      box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.15); }
      @media only screen and (max-width: 767px) {
        .home_page-map-wrapper .filter-section-wrapper .filter-section {
          transform: none;
          position: relative;
          top: 60px; } }
      .home_page-map-wrapper .filter-section-wrapper .filter-section .btn-mapSearch {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-100%);
        color: #ffffff;
        background-color: #ebbd1c;
        border-radius: 4px 4px 0 0; }
      .home_page-map-wrapper .filter-section-wrapper .filter-section select,
      .home_page-map-wrapper .filter-section-wrapper .filter-section input {
        border: 1px solid #b5c2ca;
        border-radius: 4px;
        height: 45px;
        font-size: 0.8rem;
        color: #333947; }
      .home_page-map-wrapper .filter-section-wrapper .filter-section label {
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase; }
      .home_page-map-wrapper .filter-section-wrapper .filter-section button[type="submit"] {
        width: 100%;
        height: 45px; }
        @media only screen and (max-width: 767px) {
          .home_page-map-wrapper .filter-section-wrapper .filter-section button[type="submit"] {
            margin-top: 20px; } }
      .home_page-map-wrapper .filter-section-wrapper .filter-section .extended-search {
        float: right;
        color: #1f83bf;
        font-size: 0.8rem;
        font-style: italic; }

.main-content.container-fluid {
  padding-top: 150px; }
  @media only screen and (max-width: 767px) {
    .main-content.container-fluid {
      padding-top: 60px; } }

.info-blocks-wrap {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .info-blocks-wrap .info-blocks-inner {
      margin: 0 0; } }
  .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper {
    margin: 20px auto; }
    .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 1px solid #e1e8ed;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 25px;
      height: 100%; }
      .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw {
        flex-direction: row; }
        @media screen and (max-width: 767px) {
          .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw {
            text-align: center;
            flex-direction: column; } }
        @media screen and (min-width: 768px) {
          .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw > div {
            max-width: 70%; }
            .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw > div .info-block-item-content {
              width: calc(100% - 60px); } }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw > div .info-block-item-header,
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw > div .info-block-item-content {
          display: inline-block;
          vertical-align: middle; }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw > div .info-block-item-header svg {
          color: #2e1ec1;
          margin-right: 10px;
          font-size: 39px; }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card.info-item-fw .info-block-item-footer button svg.map-marker {
          border: none;
          font-size: 18px; }
      .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-header {
        padding-bottom: 20px; }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-header h5 {
          text-transform: uppercase;
          color: #333947;
          font-size: 1.2rem;
          font-weight: 700; }
          .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-header h5 svg {
            text-transform: none;
            margin-right: 15px;
            font-size: 23px; }
            .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-header h5 svg.reviews {
              color: #ebbd1c; }
            .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-header h5 svg.prod-post {
              color: #1f83bf; }
            .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-header h5 svg.rent-list {
              color: #4fc019; }
      .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-content {
        font-size: 0.8rem;
        color: #333947;
        font-weight: 500; }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-content .review-content .review-bracket {
          font-weight: 600; }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-content ul.rent-list {
          list-style-image: url("../../img/list-arrow.png"); }
          .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-content ul.rent-list li {
            font-weight: 700;
            line-height: 1.4rem; }
            .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-content ul.rent-list li a {
              color: #1f83bf; }
      .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-footer {
        margin-top: 25px; }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-footer .review-author {
          font-weight: 700; }
        .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-footer .review-read-all {
          float: right; }
          .info-blocks-wrap .info-blocks-inner .info-block-item-card-wrapper .info-block-item-card .info-block-item-footer .review-read-all a {
            color: #1f83bf;
            font-size: 0.8rem;
            font-style: italic; }

.useful-block-wrap {
  padding: 30px 0; }
  .useful-block-wrap .grid-heading h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 15px 0; }
  .useful-block-wrap .useful-block-grid-item-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #e1e8ed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    .useful-block-wrap .useful-block-grid-item-card a:hover {
      text-decoration: none; }
    .useful-block-wrap .useful-block-grid-item-card a * {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0; }
    .useful-block-wrap .useful-block-grid-item-card a h5 {
      font-size: 1rem;
      font-weight: 700;
      padding-left: 15px; }
    .useful-block-wrap .useful-block-grid-item-card a svg {
      font-size: 15px; }

.product-single {
  margin-top: 50px; }
  .product-single .product-single-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #dce1ec;
    margin-bottom: 30px; }
    .product-single .product-single-title h1,
    .product-single .product-single-title p {
      color: #333947;
      font-weight: 600; }
    .product-single .product-single-title h1 {
      font-size: 1.8rem; }
    .product-single .product-single-title p {
      font-size: 0.8rem; }
      .product-single .product-single-title p svg {
        margin-right: 10px; }
      .product-single .product-single-title p .separator {
        margin: 0 10px; }
  .product-single .product-single-content .product-single-gallery .gallery-for div {
    margin-bottom: 15px; }
    .product-single .product-single-content .product-single-gallery .gallery-for div img {
      width: 100%;
      border-radius: 4px; }
  .product-single .product-single-content .product-single-gallery .gallery-nav .slick-slide {
    margin: 5px; }
    .product-single .product-single-content .product-single-gallery .gallery-nav .slick-slide img {
      border-radius: 4px; }
    .product-single .product-single-content .product-single-gallery .gallery-nav .slick-slide.slick-active.slick-current img {
      border: 1px solid #000000; }
    .product-single .product-single-content .product-single-gallery .gallery-nav .slick-slide img {
      width: 100%; }
  .product-single .product-single-content .product-single-description {
    margin-bottom: 30px; }
  .product-single .product-single-content .product-single-attributes h3 {
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #333947;
    font-weight: 700; }
  .product-single .product-single-content .product-single-attributes ul {
    list-style: none;
    padding: 10px;
    margin-bottom: 0; }
    @media only screen and (min-width: 576px) {
      .product-single .product-single-content .product-single-attributes ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; } }
    .product-single .product-single-content .product-single-attributes ul li {
      border-bottom: 1px solid #e1e8ed;
      font-size: 0.8rem;
      color: #333947;
      line-height: 2rem;
      margin-right: 10px;
      break-inside: avoid-column; }
      .product-single .product-single-content .product-single-attributes ul li span:first-child {
        font-weight: 500; }
      .product-single .product-single-content .product-single-attributes ul li span:nth-child(2) {
        float: right;
        font-weight: 700; }
  .product-single .product-single-content .product-single-planning {
    margin: 15px auto; }
    .product-single .product-single-content .product-single-planning .card-header {
      background-color: #eff4f7; }
      .product-single .product-single-content .product-single-planning .card-header h5 button {
        color: #333947;
        width: 100%;
        text-align: left; }
  .product-single .product-single-content .product-single-additional h3 {
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #333947;
    font-weight: 700; }
  .product-single .product-single-content .product-single-additional ul {
    list-style: none;
    margin-bottom: 0;
    padding: 10px; }
    @media only screen and (min-width: 576px) {
      .product-single .product-single-content .product-single-additional ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; } }
    @media only screen and (min-width: 992px) {
      .product-single .product-single-content .product-single-additional ul {
        columns: 4;
        -webkit-columns: 4;
        -moz-columns: 4; } }
  .product-single .product-single-content .product-single-additional ul li {
    font-size: 0.8rem;
    padding: 0.4rem 0;
    font-weight: 500; }
  .product-single .product-single-content .product-single-additional ul li:before {
    content: '✓';
    padding-right: 10px;
    font-size: 12px;
    font-weight: 900; }
  .product-single .product-single-sidebar {
    margin-bottom: 30px; }
    .product-single .product-single-sidebar.d-lg-none {
      margin-bottom: 30px; }
    .product-single .product-single-sidebar .product-single-rent-info {
      margin-bottom: 30px; }
      .product-single .product-single-sidebar .product-single-rent-info .card-header {
        background: #333947;
        border-radius: 4px;
        padding: 25px;
        color: #ffffff; }
        .product-single .product-single-sidebar .product-single-rent-info .card-header * {
          display: inline;
          vertical-align: middle; }
        .product-single .product-single-sidebar .product-single-rent-info .card-header h5 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.8rem;
          margin: 0; }
        .product-single .product-single-sidebar .product-single-rent-info .card-header span {
          font-size: 0.8rem;
          padding-right: 15px;
          font-weight: 700; }
      .product-single .product-single-sidebar .product-single-rent-info .card-body {
        padding: 25px; }
        .product-single .product-single-sidebar .product-single-rent-info .card-body .deal-desc {
          font-size: 0.8rem;
          font-weight: 500;
          font-style: italic; }
        .product-single .product-single-sidebar .product-single-rent-info .card-body .deal-phone h5 {
          font-size: 1rem;
          font-weight: 700;
          text-align: center;
          color: #333947; }
        .product-single .product-single-sidebar .product-single-rent-info .card-body .deal-phone svg {
          font-size: 16px;
          color: #aeb0b4;
          float: left; }
        .product-single .product-single-sidebar .product-single-rent-info .card-body .deal-available {
          text-align: center; }
          .product-single .product-single-sidebar .product-single-rent-info .card-body .deal-available div a {
            font-size: 2rem;
            padding: 10px;
            text-decoration: none;
            color: #0b2e13; }

.product-single-viewed-wrap {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f8f9; }
  .product-single-viewed-wrap .slick-list .slick-track {
    min-width: 100% !important; }
  .product-single-viewed-wrap .product-item-card-wrapper {
    margin-bottom: 0; }
  .product-single-viewed-wrap .slick-arrow,
  .product-single-viewed-wrap .slick-arrow:hover,
  .product-single-viewed-wrap .slick-arrow:focus {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgba(51, 57, 71, 0.5);
    z-index: 5; }
    .product-single-viewed-wrap .slick-arrow.slick-disabled,
    .product-single-viewed-wrap .slick-arrow:hover.slick-disabled,
    .product-single-viewed-wrap .slick-arrow:focus.slick-disabled {
      display: none !important;
      visibility: hidden; }
    .product-single-viewed-wrap .slick-arrow:before,
    .product-single-viewed-wrap .slick-arrow:hover:before,
    .product-single-viewed-wrap .slick-arrow:focus:before {
      font-size: 35px; }

.info-page-wrapper .info-page-title {
  margin: 30px 0; }
  .info-page-wrapper .info-page-title h2 {
    color: #333947;
    font-size: 1.2rem;
    font-weight: 700; }

.info-page-wrapper .info-page-content {
  margin-bottom: 30px; }
  .info-page-wrapper .info-page-content * {
    color: #333947; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }
