.info-page-wrapper {

  .info-page-title {
    margin: 30px 0;

    h2 {
      color: #333947;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .info-page-content {
    margin-bottom: 30px;

    * {
      color: #333947;
    }
  }
}