// Calin wrote here
#cities {
  max-height: 300px;
  overflow-y: scroll;
}

.top-offset {
  margin-top: 20px;
}

.bg-blue {
  background: #1f83bf;
}

.ui-state-active {
  background: #1f83bf !important;
}

.pagination {
  margin: 0 auto;
}

// Dima wrote here
.grid-page-wrapper {

  .product-grid-wrapper {
    position: relative;

    @media screen and (min-width: $size-min-lg){
      flex-direction: row-reverse;
    }

    .filter-section {
      width: 100%;
      margin-bottom: 30px;

      @media screen and (max-width: $size-max-md) {
        padding: 2rem 1.5rem 1rem 1.5rem;
        border: 1px solid #cdd3e0;
        border-radius: 4px;
        background-color: white;
        display: none;
      }
    }

    .filter-mobile-toggle {
      margin: 25px auto;
      text-align: center;
    }

    .pagination {
      flex-wrap: wrap;
    }
  }

  .grid-filter-section {

    .card {
      border: 1px solid #e1e8ed;
      box-shadow: none;
      border-radius: 4px;

      .card-header {
        border-bottom: none;
        background-color: transparent;
        color: #333947;
        padding: 0;

        h5 {
          vertical-align: middle;

          a {
            width: 100%;
            text-align: left;
            padding: 20px;
            line-height: 1;
            font-size: 0.9rem;
            font-weight: 600;
            text-transform: uppercase;


            &:after {
              content: '+';
              line-height: 50%;
              font-size: 28px;
              vertical-align: middle;
              float: right;
            }
          }



        }

        //&:before {
        //  content: '-';
        //}
      }

      .card-body {
        * {
          font-size: 0.8rem;
          line-height: 200%;
          color: #333947;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }
  }

}