.product-single {
  margin-top: 50px;

  .product-single-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #dce1ec;
    margin-bottom: 30px;

    h1,
    p {
      color: #333947;
      font-weight: 600;
    }

    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 0.8rem;

      svg {
        margin-right: 10px;
      }

      .separator {
        margin: 0 10px;
      }
    }

  }

  .product-single-content {

    .product-single-gallery {

      .gallery-for {

        div {
          margin-bottom: 15px;

          img {
            width: 100%;
            border-radius: 4px;
          }
        }

      }

      .gallery-nav {

        .slick-slide {
          margin: 5px;

          img {
            border-radius: 4px;
          }

          &.slick-active.slick-current img {
            border: 1px solid #000000;
          }

          img {
            width: 100%;
          }
        }
      }
    }

    .product-single-description {
      margin-bottom: 30px;
    }

    .product-single-attributes {
      h3 {
        padding: 10px;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #333947;
        font-weight: 700;
      }

      ul {
        list-style: none;
        padding: 10px;
        margin-bottom: 0;

        @media only screen and (min-width: $size-min-sm) {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
        }

        li {
          border-bottom: 1px solid #e1e8ed;
          font-size: 0.8rem;
          color: #333947;
          line-height: 2rem;
          margin-right: 10px;
          break-inside: avoid-column;

          span:first-child {
            font-weight: 500;
          }
          span:nth-child(2) {
            float: right;
            font-weight: 700;
          }
        }
      }
    }

    .product-single-planning {
      margin: 15px auto;

      .card-header {
        background-color: #eff4f7;

        h5 button {
          color: #333947;
          width: 100%;
          text-align: left;
        }
      }
    }

    .product-single-additional {
      h3 {
        padding: 10px;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #333947;
        font-weight: 700;
      }

      ul {
        list-style: none;
        margin-bottom: 0;
        padding: 10px;

        @media only screen and (min-width: $size-min-sm) {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
        }

        @media only screen and (min-width: $size-min-lg) {
          columns: 4;
          -webkit-columns: 4;
          -moz-columns: 4;
        }
      }

      ul li {
        font-size: 0.8rem;
        padding: 0.4rem 0;
        font-weight: 500;
      }

      ul li:before {
        content: '✓';
        padding-right: 10px;
        font-size: 12px;
        font-weight: 900;
      }

    }
  }

  .product-single-sidebar {
    margin-bottom: 30px;

    &.d-lg-none {
      margin-bottom: 30px;
    }

    .product-single-rent-info {
      margin-bottom: 30px;

      .card-header {
        background: #333947;
        border-radius: 4px;
        padding: 25px;
        color: #ffffff;

        * {
          display: inline;
          vertical-align: middle;
        }

        h5 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.8rem;
          margin: 0;
        }

        span {
          font-size: 0.8rem;
          padding-right: 15px;
          font-weight: 700;
        }

      }

      .card-body {
        padding: 25px;

        .deal-desc {
          font-size: 0.8rem;
          font-weight: 500;
          font-style: italic;
        }

        .deal-phone {

          h5 {
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            color: #333947;
          }

          svg {
            font-size: 16px;
            color: #aeb0b4;
            float: left;
          }
        }

        .deal-available {
          text-align: center;

          div a {
            font-size: 2rem;
            padding: 10px;
            text-decoration: none;
            color: #0b2e13;
          }
        }
      }
    }
  }

}

.product-single-viewed-wrap {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f8f9;

  .slick-list .slick-track {
    min-width: 100% !important;
  }

  .product-item-card-wrapper {
    margin-bottom: 0;
  }

  .slick-arrow,
  .slick-arrow:hover,
  .slick-arrow:focus {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color:  rgba(51, 57, 71, 0.5);
    z-index: 5;

    &.slick-disabled {
      display: none !important;
      visibility: hidden;
    }

    &:before {
      font-size: 35px;
    }
  }

}
